* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Futura, Trebuchet MS, sans-serif;
  text-align: center;
}

h1 {
  font-weight: 400;
}

blockquote {
  background: hotpink;
  display: inline-block;
  font-style: italic;
  line-height: 1.8;
  padding: 20px;
  vertical-align: 100px;
}

blockquote small {
  display: block;
  text-align: right;
}

blockquote small a {
  color:  white;
}

.logo {
  border-radius: 4px;
  display: inline-block;
  overflow: hidden;
  position:relative;
  width: 300px;
  height: 300px;
  transition: background 200ms ease;
}

.logo:before {
  content:'';
  display:inline-block;
  width:0;
  height:100%;
  vertical-align:middle;
}

.logo img {
  max-height: 100%;
  max-width: 100%;
  padding: 10px 20px;
  vertical-align:middle;
}

.logo .toast {
  background: #DEDEDE;
  bottom: -28px;
  color: black;
  height: 28px;
  left: 0;
  padding: 2px 8px 4px;
  position: absolute;
  transition: bottom 200ms ease;
}

/*
.logo .icon {
  background: url('images/font-awesome-check.svg');
  background-size: 100%;
  height: 48px;
  left: 8px;
  position: absolute;
  top: 8px;
  -webkit-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0);
  width: 48px;
}
*/

.logo:hover {
  background: #DEDEDE;
}

.logo:hover .toast {
  bottom: 0;
}

.logo.selected .icon {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;

  transform: scale3d(1, 1, 1);
}
